.footer
  //background-color: $color-greyish-brown
  color: $color-text
  font-size: rem(14px)
  padding: rem(20px 28px)
  margin-left: rem(-28px)
  margin-right: rem(-28px)

  @include media(tablet-ls)
    position: absolute
    bottom: 0
    right: 0
    left: 0
    .toc-left &
      left: $toc-width

  &__powered-by
    font-size: $font-size-small
    text-align: center
