.header
  margin: 0
  padding:  1rem 2.5rem
  border-bottom: 1px solid #f5f5f5
  background-color: $color-white

  &__container
    margin: 0 auto
    height: 80px
    display: flex
    justify-content: space-between
    align-items: center
    > *
      flex-grow: 1

  .logo
    height: 2.625rem
    flex-grow: 0
    img
      height: 2.625rem
      max-height: 100%
      max-width: 100%


  .nav__list
    flex-direction: row
    justify-content: flex-end
    margin: 0
    list-style: none
    display: flex

  .nav__list-item
    display: flex
    margin: 0 0 0 1rem
    font-weight: 400
