body, html
  background-color: $color-white-gray
  font-size: $font-size-base

a
  transition: color 200ms ease-out

.stuck
  @include media(tablet-ls)
    position: fixed !important
    top: 0

.sect1, .sect2, .sect3
  margin-left: -1.25rem
  margin-right: -1.25rem
  padding: 1.25rem
  overflow: auto
  &:last-child
    padding-bottom: 0

  > h2, > h3, > h4
    margin-top: 0

//.sect1 + .sect1,
//.sect2 + .sect2,
//.sect3 + .sect3
//  border-top: solid $color-white-gray
//
//.sect1 + .sect1
//  border-top-width: 10px
//
//.sect2 + .sect2
//  border-top-width: 4px
//
//.sect3 + .sect3
//  border-top-width: 1px

@include media(tablet-ls)
  .toc
    width: $toc-width

  .page-main__content,
  .page-top__content
    min-width: $content-width
    max-width: $container-width
    margin: 0 auto

  .toc-left
    .page-main__content
      padding-left: $toc-width + rem(28px)
    .toc
      transform: translateX(calc(-100% - #{rem(29px)}))

  .toc-right
    .page-main__content
      padding-right: $toc-width + rem(28px)
    .toc
      transform: translateX(calc(100% + #{rem(29px)}))

  [id="toc"]
    position: absolute
    border: 0 none
    z-index: 1000
    padding: 1.25rem
    height: 100%
    overflow: auto
    top: 0

.toTop
  position: fixed
  background-color: $color-brand-light
  color: $color-white
  border-radius: 10000px
  width: rem(50px)
  height: rem(50px)
  text-align: center
  transform: translateX(-100px)
  z-index: 1001
  bottom: rem(30px)
  font-family: monospace
  font-size: rem(64px)
  line-height: rem(80px)
  box-shadow: $box-shadow-floating
  text-decoration: none
  &:active,
  &:hover,
  &:focus
    text-decoration: none
    color: $color-white

.badge
  display: inline-block
  padding: .25em .4em
  font-weight: 700
  line-height: 1
  text-align: center
  white-space: nowrap
  vertical-align: middle
  border-radius: .25rem
  font-size: $font-size-small

.bb-connect
  @extend .badge
  color: $color-white
  background-color: $color-brand-light

.bb-api
  @extend .badge
  background-color: $color-bluish
  color: $color-white

