---
title: Documentation
---

<div class="overview">
  <p class="navigator-title">Choose your application type</p><br>
  <div class="overview__container">
    <a href="/pages/native" class="quickstart">
      <div class="symbol"></div>
      <strong class="title">Native/Mobile App</strong>
      <p class="description">Mobile or Desktop app that runs natively on a device</p>
      <p class="sample">e.g., iOS, Android</p>
        <button class="btn btn-success btn-sm">Launch Quickstart</button>
    </a>

    <a href="/pages/spa" class="quickstart">
      <div class="symbol"></div>
      <strong class="title">Single-Page App</strong>
      <p class="description">JavaScript web app that runs in the browser</p>
      <p class="sample">e.g., Angular.JS + NodeJS, React</p>
        <button class="btn btn-success btn-sm">Launch Quickstart</button>
    </a>

    <a href="/pages/webapp" class="quickstart" data-type="webapp">
      <div class="symbol"></div>
      <strong class="title">Regular Web App</strong>
      <p class="description">Traditional web app that runs on the server</p>
      <p class="sample">e.g., Express.js, ASP.NET</p>
      <button class="btn btn-success btn-sm">Launch Quickstart</button>
    </a>

    <a href="/pages/rest-api-public.html" class="quickstart" data-type="backend">
      <div class="symbol"></div>
      <strong class="title">Backend/API</strong>
      <p class="description">An API or service</p>
      <p class="sample">e.g., xxx, xxx</p>
      <button class="btn btn-success btn-sm">Launch Quickstart</button>
    </a>
  </div>
</div>
