<a class="toTop" href="#">^</a>
<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__section footer__section--address">
        <div class="footer__section__content">
          <div class="footer__section__title">
            <img class="footer__logo" alt="Logo Arkane" src="{{assets}}/img/logo-arkane-white.svg">
          </div>
          <div class="footer__contact-details">
            <p>Business Park Rivium</p>
            <p>Antwerpsesteenweg 45</p>
            <p>2830 Willebroek</p>
            <p>Belgium</p>
          </div>
        </div>
      </div>

      <div class="footer__section">
        <div class="footer__section__content">
          <div class="footer__section__title">
            Product
          </div>
          <ul class="footer__section__links">
            <li class="footer__section__link"><a href="https://arkane.network" class="link link--light">Crypto Users</a></li>
            <li class="footer__section__link"><a rel="noopener noreferrer" href="https://medium.com/arkane-network" class="link link--light">Blog</a></li>
            <li class="footer__section__link"><a href="https://arkane.network/pages/build-on-arkane.html" class="link link--light">Developers</a></li>
            <li class="footer__section__link"><a href="https://docs.arkane.network/" class="link link--light">API Docs</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__section footer__section--social">
        <div class="footer__section__content">
          <div class="footer__section__social">
            <a href="https://medium.com/arkane-network" rel="noopener noreferrer" class="link link--light link--social">
              <span class="sr-only">Arkane Network medium</span>
              <svg class="icon icon-medium">
                <use xlink:href="#icon-medium"></use>
              </svg>
            </a>
            <a href="https://twitter.com/NetworkArkane" rel="noopener noreferrer" class="link link--light link--social">
              <span class="sr-only">Arkane Network twitter</span>
              <svg class="icon icon-twitter">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
            <a href="https://t.me/ArkaneNetworkOfficial" rel="noopener noreferrer" class="link link--light link--social">
              <span class="sr-only">Arkane Network telegram</span>
              <svg class="icon icon-telegram">
                <use xlink:href="#icon-telegram"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__powered-by">
      Powered by Arkane Network in collaboration with FundRequest. 2018 All rights reserved. Ⓒ Copyright.
    </div>
  </div>
</footer>
