<header id="header" class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/"><img src="{{assets}}/img/logo-arkane-black.svg" alt="logo arkane"></a>
    </div>
    <div class="header__crumbs">
      <ul>
        <li>
          <a href="/">Docs</a>
        </li>
        <li>
          {{ category }}
        </li>
        <li class="active">
          {{ title }}
        </li>
      </ul>
    </div>
  </div>
</header>
