<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="{{assets}}/css/screen.css">
  <link rel="stylesheet" href="{{assets}}/vendors/highlight/tomorrow-night-eighties.css">
</head>
