<div class="admonitionblock note">
  <table>
    <tr>
      <td class="icon">
        <i class="fa icon-{{type}}" title="{{type}}"></i>
      </td>
      <td class="content">
        <div class="paragraph">
          <p>{{{content}}}</p>
        </div>
      </td>
    </tr>
  </table>
</div>
