<svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-arkane" viewBox="0 0 32 32">
      <title>arkane</title>
      <path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
    </symbol>

    <symbol id="icon-facebook" viewBox="0 0 32 32">
      <title>facebook</title>
      <path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
    </symbol>

    <symbol id="icon-telegram" viewBox="0 0 32 32">
      <title>telegram</title>
      <path d="M12.037 27.783c-0.952 0-0.791-0.361-1.119-1.265l-2.804-9.227 21.569-12.797z"></path>
      <path d="M12.037 27.783c0.736 0 1.060-0.336 1.473-0.737l3.921-3.809-4.895-2.952z"></path>
      <path d="M12.537 20.284l11.853 8.757c1.353 0.747 2.331 0.361 2.667-1.256l4.827-22.737c0.496-1.983-0.752-2.879-2.045-2.293l-28.339 10.929c-1.933 0.776-1.924 1.856-0.352 2.337l7.273 2.267 16.832-10.617c0.793-0.48 1.524-0.223 0.925 0.309z"></path>
    </symbol>

    <symbol id="icon-twitter" viewBox="0 0 32 32">
      <title>twitter</title>
      <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
    </symbol>

    <symbol id="icon-medium" viewBox="0 0 32 32">
      <title>medium</title>
      <path d="M3.795 8.48c0.040-0.393-0.111-0.781-0.404-1.045l-2.987-3.6v-0.537h9.276l7.171 15.727 6.304-15.727h8.845v0.537l-2.556 2.449c-0.22 0.168-0.329 0.444-0.284 0.717v18c-0.045 0.272 0.064 0.547 0.284 0.716l2.493 2.449v0.537h-12.547v-0.537l2.583-2.509c0.253-0.253 0.253-0.328 0.253-0.717v-14.548l-7.187 18.251h-0.969l-8.367-18.251v12.232c-0.069 0.515 0.101 1.032 0.463 1.404l3.36 4.080v0.536h-9.527v-0.537l3.36-4.080c0.36-0.371 0.52-0.893 0.435-1.403v-14.144z"></path>
    </symbol>

    <symbol id="icon-linkedin" viewBox="0 0 32 32">
      <title>linkedin2</title>
      <path d="M12 12h5.535v2.837h0.079c0.77-1.381 2.655-2.837 5.464-2.837 5.842 0 6.922 3.637 6.922 8.367v9.633h-5.769v-8.54c0-2.037-0.042-4.657-3.001-4.657-3.005 0-3.463 2.218-3.463 4.509v8.688h-5.767v-18z"></path>
      <path d="M2 12h6v18h-6v-18z"></path>
      <path d="M8 7c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-1.657 1.343-3 3-3s3 1.343 3 3z"></path>
    </symbol>

    <symbol id="icon-arkane-a" viewBox="0 0 85 66">
      <title>Arkane logo</title>
      <path d="M63.91,31.68C55.09,17.07,46.59,2.93,45.62,1.62A3.86,3.86,0,0,0,43.38,0S43.16,0,43,0H43c-.12,0-.34,0-.34,0a3.86,3.86,0,0,0-2.24,1.59c-1,1.31-9.47,15.45-18.29,30.06C12,48.46,1,66,1,66H12L39.41,21.05s1.88-3.17,3.58-3.12h0c1.69-.05,3.58,3.12,3.58,3.12L74,66H85S74.05,48.46,63.91,31.68Z"/>
      <path d="M47,30H39a3,3,0,0,0,0,6h8a3,3,0,0,0,0-6Z"/>
    </symbol>

    <symbol id="icon-arkane-a-animated" viewBox="0 0 85 66">
      <defs><linearGradient id="arkane-gradient" x1="0%" y1="0%" x2="100%" y2="0%" gradientTransform="rotate(-8)"><stop offset="-2" stop-color="#f74989"><animate id="anim" attributeName="offset" from="-.4" to="1" dur="1000ms" fill="freeze" begin="2s;anim.end+5000ms"></animate> <animate id="anim2" attributeName="offset" from="-.8" to="-2" dur="220ms" fill="freeze" begin="anim.end+500ms"></animate></stop> <stop offset="0" stop-color="#dd49f8"><animate attributeName="offset" from="0" to="1.4" dur="1000ms" fill="freeze" begin="2s;anim.end+5000ms"></animate> <animate attributeName="offset" from="-.4" to="0" dur="220ms" fill="freeze" begin="anim.end+500ms"></animate></stop> <stop offset="0.4" stop-color="#f74989"><animate attributeName="offset" from=".4" to="1.8998" dur="1000ms" fill="freeze" begin="2s;anim.end+5000ms"></animate> <animate attributeName="offset" from="0" to=".4" dur="220ms" fill="freeze" begin="anim.end+500ms"></animate></stop> <stop offset="0.4001" stop-color="#f74989"><animate attributeName="offset" from=".4001" to="1.8999" dur="1000ms" fill="freeze" begin="2s;anim.end+5000ms"></animate> <animate attributeName="offset" from=".0001" to=".4001" dur="220ms" fill="freeze" begin="anim.end+500ms"></animate></stop> <stop offset="1" stop-color="#f74989"></stop></linearGradient> <clipPath id="clip-path-a" transform="translate(-1 0)"><path fill="none" d="M63.91,31.68C55.09,17.07,46.59,2.93,45.62,1.62A3.86,3.86,0,0,0,43.38,0S43.16,0,43,0H43c-.12,0-.34,0-.34,0a3.86,3.86,0,0,0-2.24,1.59c-1,1.31-9.47,15.45-18.29,30.06C12,48.46,1,66,1,66H12L39.41,21.05s1.88-3.17,3.58-3.12h0c1.69-.05,3.58,3.12,3.58,3.12L74,66H85S74.05,48.46,63.91,31.68Z"></path></clipPath> <clipPath id="clip-path-dash" transform="translate(-1 0)"><path fill="none" d="M47,30H39a3,3,0,0,0,0,6h8a3,3,0,0,0,0-6Z"></path></clipPath></defs>
      <title>Arkane logo</title>
      <g class="path-a" style="clip-path: url(#clip-path-a)">
        <polygon fill="#f74989" points="0,0 0,66 84,66 84,0"></polygon>
        <polygon fill="url(#arkane-gradient)" points="0,0 0,66 84,66 84,0"></polygon>
      </g>
      <g class="path-dash" style="clip-path: url(#clip-path-dash)">
        <polygon fill="#f74989" points="0,0 0,66 84,66 84,0"></polygon>
        <polygon fill="url(#arkane-gradient)" points="0,0 0,66 84,66 84,0"></polygon>
      </g>
    </symbol>

    <symbol id="icon-chevron-small-down" viewBox="0 0 20 20">
      <title>chevron-small-down</title>
      <path d="M13.418 7.859c0.271-0.268 0.709-0.268 0.978 0s0.272 0.701 0 0.969l-3.908 3.83c-0.27 0.268-0.707 0.268-0.979 0l-3.908-3.83c-0.27-0.267-0.27-0.701 0-0.969s0.709-0.268 0.978 0l3.421 3.141 3.418-3.141z"></path>
    </symbol>

    <symbol id="icon-pause" viewBox="0 0 24 28">
      <title>pause</title>
      <path d="M24 3v22c0 0.547-0.453 1-1 1h-8c-0.547 0-1-0.453-1-1v-22c0-0.547 0.453-1 1-1h8c0.547 0 1 0.453 1 1zM10 3v22c0 0.547-0.453 1-1 1h-8c-0.547 0-1-0.453-1-1v-22c0-0.547 0.453-1 1-1h8c0.547 0 1 0.453 1 1z"></path>
    </symbol>

    <symbol id="icon-play" viewBox="0 0 16 28">
      <title>play</title>
      <path d="M21.625 14.484l-20.75 11.531c-0.484 0.266-0.875 0.031-0.875-0.516v-23c0-0.547 0.391-0.781 0.875-0.516l20.75 11.531c0.484 0.266 0.484 0.703 0 0.969z"></path>
    </symbol>
  </defs>
</svg>

