---
title: Documentation
---

<div id="content">
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
    security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <ul>
    <li><a href="pages/rest-api-public.html">REST API</a></li>
    <li><a href="pages/js-multi-chain-wallet.html">Building a multi-chain wallet</a></li>
    <li><a href="pages/reference.html">Reference</a></li>
     <li><a href="pages/buildingblocks.html">Arkane Building Blocks</a></li>
  </ul>

  <div class="overview">
    <p class="navigator-title">Choose your application type</p><br>
    <div class="overview__container">
      <a href="/pages/mobile-multi-chain-wallet.html" class="quickstart">
        <div class="symbol"></div>
        <strong class="title">Native/Mobile App</strong>
        <p class="description">Mobile or Desktop app that runs natively on a device</p>
        <p class="sample">e.g., iOS, Android</p>
        <button class="btn btn-success btn-sm">Launch Quickstart</button>
      </a>

      <a href="/pages/js-multi-chain-wallet.html" class="quickstart">
        <div class="symbol"></div>
        <strong class="title">Plain Javascript</strong>
        <p class="description">JavaScript snippet that runs in the browser</p>
        <p class="sample">e.g. Vanilla Javascript, jQuery</p>
        <button class="btn btn-success btn-sm">Launch Quickstart</button>
      </a>

      <!--<a href="/pages/spa" class="quickstart">-->
        <!--<div class="symbol"></div>-->
        <!--<strong class="title">Single-Page App</strong>-->
        <!--<p class="description">JavaScript web app that runs in the browser</p>-->
        <!--<p class="sample">e.g. Angular.JS + NodeJS, React</p>-->
        <!--<button class="btn btn-success btn-sm">Launch Quickstart</button>-->
      <!--</a>-->

      <a href="/serverside-multi-chain-wallet.html" class="quickstart" data-type="webapp">
        <div class="symbol"></div>
        <strong class="title">Regular Web App</strong>
        <p class="description">Traditional web app that runs on the server</p>
        <p class="sample">e.g. Express.js, ASP.NET</p>
        <button class="btn btn-success btn-sm">Launch Quickstart</button>
      </a>

      <a href="/pages/rest-api-public.html" class="quickstart" data-type="backend">
        <div class="symbol"></div>
        <strong class="title">Backend/API</strong>
        <p class="description">An API or service</p>
        <p class="sample">e.g. xxx, xxx</p>
        <button class="btn btn-success btn-sm">Launch Quickstart</button>
      </a>
    </div>
  </div>

</div>
