---
title: Documentation
---

<div id="content">
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
    security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <ul>
    <li><a href="pages/rest-api-public.html">REST API</a></li>
    <li><a href="pages/js-multi-chain-wallet.html">Building a multi-chain wallet</a></li>
    <li><a href="pages/documentation-overview.html">Documentation Overview</a></li>
  </ul>
</div>
