---
title: Arkane Documentation
bodyClass: page--overview
---

<div class="overview overview--getting-started">
  <h2 class="overview__title">Getting Started</h2>
  <h3 class="overview__subtitle">
    <div>Want to get started immediately?</div>
    <div>Select on of our Quick Start guides:</div>
  </h3>
  <div class="overview__container">
    <a href="/pages/mobile-multi-chain-wallet.html" class="quickstart">
    <div class="quickstart__image">
      {{> animated-squares}}
    </div>
    <strong class="quickstart__title">Native/Mobile App</strong>
    <p class="quickstart__description">Mobile or Desktop app that runs natively ona device</p>
    <p class="quickstart__sample">e.g., iOS, Android</p>
    <button class="btn btn-success btn-sm">Launch Quickstart</button>
  </a>
    <a href="/pages/js-multi-chain-wallet.html" class="quickstart">
      <div class="quickstart__image">
        {{> animated-triangles}}
      </div>
      <strong class="quickstart__title">Javascript / Single Page App</strong>
      <p class="quickstart__description">JavaScript snippet that runs in the browser</p>
      <p class="quickstart__sample">e.g. Vanilla Javascript, jQuery, Angular, React</p>
      <button class="btn btn-success btn-sm">Launch Quickstart</button>
    </a>

    <a href="/pages/serverside-multi-chain-wallet.html" class="quickstart" data-type="webapp">
      <div class="quickstart__image">
        {{> animated-circles}}
      </div>
      <strong class="quickstart__title">Regular Web App</strong>
      <p class="quickstart__description">Traditional web app that runs on the server</p>
      <p class="quickstart__sample">e.g. Express.js, ASP.NET</p>
      <button class="btn btn-success btn-sm">Launch Quickstart</button>
    </a>
    <a href="/pages/reference.html" class="quickstart" data-type="backend">
      <div class="quickstart__image">
        {{> animated-stars}}
      </div>
      <strong class="quickstart__title">Backend/API</strong>
      <p class="quickstart__description">An API or service with blockchain integration</p>
      <p class="quickstart__sample">e.g. Express js API, ASP.NET API</p>
      <button class="btn btn--primary">Launch Quickstart</button>
    </a>
  </div>

  <div class="overview__footer">Don't forget to check out our <a href="/pages/connect-js">JavaScript SDK</a>, recommended for most applications!</div>
</div>

<div class="overview-note overview-note">
  <div class="overview-note__content">
    <span class="overview-note__bg-wrapper">
      <span class="overview-note__text">
        <i class="far fa-graduation-cap"></i> Mastered our Quick Start guides? Go directly to our <a href="" class="link link--blue">Reference documentation</a>.
      </span>
    </span>
  </div>
</div>

<div class="overview overview--building-blocks">
  <h2 class="overview__title">Arkane Building Blocks</h2>
  <h3 class="overview__subtitle">
    <div>The different components</div>
    <div>developers can use to create their apps</div>
  </h3>
  <div class="overview__container">
    <a href="/pages/buildingblocks#_api" class="quickstart">
      <div class="quickstart__image">{{> animated-squares}}</div>
      <strong class="quickstart__title">API</strong>
      <p class="quickstart__description">Set of functions and procedures allowing the creation of applications</p>
      <button class="btn btn--blue">Check it out</button>
    </a>

    <a href="/pages/buildingblocks#_arkane_connect" class="quickstart">
      <div class="quickstart__image">{{> animated-squares}}</div>
      <strong class="quickstart__title">Connect</strong>
      <p class="quickstart__description">Consumer interface for transaction authorisation</p>
      <button class="btn btn--blue">Check it out</button>
    </a>

    <a href="/pages/buildingblocks#_arkane_identity" class="quickstart">
      <div class="quickstart__image">{{> animated-squares}}</div>
      <strong class="quickstart__title">Identity</strong>
      <p class="quickstart__description">Authentication for web, mobile and legacy applications</p>
      <button class="btn btn--blue">Check it out</button>
    </a>
  </div>

</div>
