<!doctype html>
<html class="no-js" lang="">

{{>head}}

<body class="book toc-left" data-spy="scroll" data-target=".toc" data-offset="100">
{{> symbols}}
{{> header}}

<div class="page-content">
  <h1>{{title}}</h1>

  {{> body}}

  {{> footer}}
</div>

{{> scripts-general}}
{{> scripts-sidebar}}
</body>

</html>
