<!doctype html>
<html class="no-js" lang="">

{{>head}}

<body class="book toc-left" data-spy="scroll" data-target=".toc" data-offset="100">

{{> header}}

<div class="page-main">
  <div class="page-main__content">
    <h1>{{title}}</h1>

    {{> body}}

    <a class="toTop" href="#">^</a>
    {{> footer}}
  </div>
</div>

{{> scripts-general}}
{{> scripts-sidebar}}
</body>

</html>
