<!doctype html>
<html class="no-js" lang="">

{{>head}}

<body class="book toc-left" data-spy="scroll" data-target=".toc" data-offset="100">

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
  security.</p>
<![endif]-->

<div class="page-bg"></div>
<div class="page-top">
  <div class="page-top__content">
    {{> symbols}}
    {{> header}}
  </div>
</div>
<div class="page-main">
  <div class="page-main__content">
    <h1>{{title}}</h1>

    {{> body}}

    <a class="toTop" href="#">^</a>
    {{> footer}}
  </div>
</div>

{{> scripts-general}}
{{> scripts-sidebar}}
</body>

</html>
