<!doctype html>
<html class="no-js" lang="">

{{>head}}

<body>
<div class="page-bg"></div>
<div class="page-top">
  <div class="page-top__content">
    {{> symbols}}
    {{> header}}
  </div>
</div>
<div class="page-main">
  <div class="page-main__content">
    <h1>{{title}}</h1>

    {{> body}}

    {{> footer}}
  </div>
</div>
{{> scripts-general}}
</body>
</html>
