<!doctype html>
<html class="no-js" lang="">

{{>head}}

<body>
  {{> symbols}}
  {{> header}}

  <div class="page-content">
    <h1>{{title}}</h1>

    {{> body}}

    {{> footer}}
  </div>

  {{> scripts-general}}
</body>

</html>
