<!doctype html>
<html class="no-js" lang="">

{{>head}}

<body class="{{bodyClass}}">

{{> header}}
<div class="page-main">
  <div class="page-main__content">
    <h1 class="sr-only">{{title}}</h1>

    {{> body}}

    {{> footer}}
  </div>
</div>
{{> scripts-general}}
</body>
</html>
